.badge {
    background-color: transparent;
    color: inherit;
    font-weight: 500;
    margin-right: 0 !important;
    margin-left: 0 !important;

    .current &:before {
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $brand-warning;
        display: inline-block;
        margin-right: 1em;
        margin-bottom: 1px;
    }
}
