body {
    letter-spacing: 0.5px;
}

.container-small {
    max-width: 660px;
}

h1 {
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 1em;
    color: black;
}

.push-ends {
    margin-top: 2em;
    margin-bottom: 2em;
}
